openai
scikit-learn
pandas
streamlit
jupyter
tqdm
elasticsearch
ipywidgets
youtube-transcript-api
pytube
nltk
requests 
google-api-python-client
python-telegram-bot
sentence_transformers==2.7.0
langchain 
langchain-elasticsearch


